<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Sample Suite">

   <listeners>
    <listener class-name="util.TestListenerAdapter" />
    
</listeners>


<test name="Driver Script Suite 1">
    <classes>
        <class name="apps.DriverApp" ></class>
    </classes>
</test>
</suite>